* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    text-align: center;
}

.add__type, .add__description, .add__value {
    background-color: white;
}

/* .add__description {
    background-color: white;
}

.add__value {
    background-color: white;
} */